@model CommentSystem.Models.ViewModel.FilmViewModel
@{
    ViewData["Title"] = "Film";
}

<div id="main">
    <h1>Film - @Model.Film.FilmTitle</h1>
    <small>@Model.Film.FilmDescription</small>

    <h5 class="mt-5">Comments</h5>
    <div class="list-group">
        <div class="mb-2">
            @if (User.Identity.IsAuthenticated)
            {
                <textarea style="width: 100%" v-model="commentText" placeholder="New comment..."></textarea>
                <button class="btn btn-success float-right" v-on:click="submitComment">Submit Comment</button>
            }
            else
            {
                <label>Please login or register to leave a comment.</label>
            }
        </div>
        <div v-for="comment in comments" class="list-group-item">
            <div class="row">
                <label>{{comment.commentText}}</label>
            </div>
            <div class="row">
                <small>By {{comment.commenterEmail}} </small>
            </div>
            <div class="row">
                <small>{{comment.createDateTime}}</small>
            </div>
            <div class="row" v-if="comment.commenterId == '@User?.Claims?.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value'">
                <!--Div should only show if user created the comment!-->
                <div class="btn-group mt-2">
                    <button class="btn btn-danger btn-sm" v-on:click="deleteComment(comment.commentId)">Delete</button>
                    <button class="btn btn-warning btn-sm" v-on:click="openUpdateModal(comment.commentId)">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <div id="editCommentModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea v-model="editComment.commentText"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click="updateComment">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var model = @Html.Raw(Json.Serialize(Model.Film));
</script>
<script src="~/vue/vue.js"></script>
<script src="~/Web/film.js"></script>